.contact-form label{
    font-weight:600;

}

.contact-info{
    height: 100%;
    justify-content: center;
    background-color: rgb(102, 223, 245);
    padding: 20px;
    border-radius: 10px;
}