@media (max-width:600px){
    option {
        font-size: 80% !important;
        width: 80% !important;
    }
    form {
        width: 90% !important;
        padding: 10px !important;
    }
}
center h1 {
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
}

.fund-raise{
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 100px;
    margin: 20px 0;
    border-radius: 10px;
}

